.container{
  display: block;
  background-color: #ffffff;
  padding: 10px;
  /* border: none; */
}
.tags{
    display: flex;
    padding: 10px ;
    gap: 16px;
    overflow-x: scroll;
}
.title{
  font-size: 18px;
  padding: 8px;
}
.link{
  color: black;

  font-size: 14px;
  flex-basis: 40%;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  /* Add some padding inside the card container */
  .content {
    padding: 5px;
  }
